.contact-section {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #f0f4ff;
}

.contact-left {
  flex: 1;
  background-image: url("/public/images/contact -bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-right h2 {
  font-size: 32px;
  margin-bottom: 20px;
  
}

.contact-card {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact-form label {
  font-weight: 500;
  color: #040505;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 15px;

}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  margin-top: 10px;
  background: #4f46e5;
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #eae9ef;
}

.contact-card,
.contact-card * {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #cbd5e1 !important;
  border-radius: 6px;
  background-color: #ffffff;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #3e34f0 !important;
  outline: none;
}
